<% if @buffet.nil? %>
  <div> <%= link_to 'Registrar Buffet', new_buffet_path %> </div>

<% else %>
  <div> <%= link_to @buffet.business_name, buffet_path(@buffet) %> </div>

  <p>Tipos de Buffet:</p>
  <ul>
    <% @buffet.buffet_types.each do |buffet_type| %>
      <li><%= link_to buffet_type.name, buffet_type %></li>
    <% end %>
  </ul>
<% end %>